body{
    background-color: lightgray;
}

#root{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#layout{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 500px 200px;
    grid-template-areas: 
    "header"
    "content"
    "footer"
}

#layout header{
    grid-area: header;
    background-color: lightgoldenrodyellow;

}

#layout main{
    grid-area: content;
    background-color: beige;
}
#layout footer{
    grid-area: footer;
    background-color: antiquewhite;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #root {
        max-width: 100%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #root {
        max-width: 720px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #root {
        max-width: 960px;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #root {
        max-width: 1140px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    #root {
        max-width: 1320px;
    }
}